.example-card{
  //reduce the card size
  background-color:  rgb(255, 255, 255);
  // display: table-row;


}
.example-card:hover {
  background-color:rgb(233, 217, 248);
}


.icon{
  float: right;
}
.div-nest{
  margin-top: 27px;
}

.image-hover:hover{
  transform:scale(1.01);
  border-radius:20px ;
  box-shadow: 0 0 20px grey;
}
.image-hover{
  transition:transform 0.25s ease;
  transition: border-radius 0.25s ease;
  transition:box-shadow 0.25s ease;
}
#icon{
  margin-right: 10px;
}

.circular-img{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  transition:transform 0.25s ease;
  transition: border-radius 0.25s ease;
  cursor: pointer;
  transition:box-shadow 0.25s ease;
}
.circular-img:hover{
  transform:scale(1.01);
  box-shadow: 0 0 20px grey;
}
.content_display{
  display: -webkit-box;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
white-space: normal;
-webkit-line-clamp: 2;
}

.flex {
  display: flex;
}

.div1,
.div2,
.div3 {
  width: 33%;
  display: flex;
  align-items: center;
}
.div3 {
  justify-content: flex-end;
}
.tag:hover {
  background-color: rgba(0, 0, 0, 0.041);
  cursor: pointer;
}
.tag {
  height: fit-content;
  margin-left: 2vw;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5vw;
}
.div1{
  margin: auto;
}
.div1 .img-div{
  margin-top: 1vw;
  border-radius: 50%;
  border: 1px solid black;
  width: 3.7vw;
  height:3.7vw;
}
.div1 .img-div:hover{
  cursor: pointer;
  transform:scale(1.01);
  box-shadow: 0 0 20px grey;
}
.div1 h1{
  margin-top: 2vw;
  text-decoration: solid;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
.input-group{
  background-color: transparent;
  justify-content: space-around;
  width: 100%;
}
.form-outline{
  width: 100%;
}
.form-control{
  text-align: center;
}