.example-card{
  //reduce the card size
  background-color:  rgb(255, 255, 255);
  display: table-row;

}
.card-container{
  width: 70%;
}
.icon{
  float: right;
}
.div-nest{
  margin-top: 27px;
}
#tag{
  margin-left: 600px;
}
#icon{
  margin-right: 10px;
}

