.example-card{
  //reduce the card size
  background-color:  rgb(255, 255, 255);
  display: table-row;
  width: 1%;
}

.card-container{
  width: 80%;
}
.icon{
  float: right;
}
.div-nest{
  margin-top: 27px;
}
#tag{
  margin-left: 600px;
}
.tag1:hover{
  transform:scale(1.01);
  border-radius:20px ;
  box-shadow: 0 0 20px grey;
}
.tag1{
  transition:transform 0.25s ease;
  transition: border-radius 0.25s ease;
  transition:box-shadow 0.25s ease;
}
#icon{
  margin-right: 10px;
}

