<div class="signin-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <form class="example-form" [formGroup]="RegisterForm">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Firstname">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Lastname">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email">
        </mat-form-field>

        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Choose a date</mat-label>
          <input matInput   placeholder="DOB"  [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Phonenumber" type="text">
        </mat-form-field>

        <mat-form-field class="example-full-width">
         <mat-label>Enter your password</mat-label>
         <input matInput  placeholder="Password" [type]="hide ? 'password' : 'text'">
         <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>


        </mat-form-field>

      </mat-card-content>
      <button mat-stroked-button color="primary" class="btn-block">Register</button>
    </form>
  </mat-card>
</div>
