<mat-card class="box">
  <mat-card-content>
    <form [formGroup]="LoginForm" (ngSubmit)="login()">
      <mat-form-field class="example-full-width">
        <input matInput type="email" placeholder="Email" name="username" formControlName="email">
        <mat-error *ngIf="controls['email'].errors?.['pattern'] && controls['email'].touched">
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Password"  name="password" formControlName="password">
        <mat-error *ngIf="controls['password'].errors?.['pattern'] && controls['password'].touched">
          Please provide a valid password
        </mat-error>
      </mat-form-field >
      <button mat-raised-button color="primary" [disabled]="LoginForm.invalid">Login</button>
      <mat-error *ngIf="submitted===true">
        Enter Valid Information
      </mat-error>
    </form>
  </mat-card-content>
</mat-card>


<div  class="google_icon">
    <mat-card class="cardStyle">
        <h2>Login with Google</h2>
    <asl-google-signin-button type='icon' size='large'></asl-google-signin-button>

    </mat-card>
    <div *ngIf="user">
        <img src="{{user.photoUrl}}">
        <div>
          <h4>{{ user.name }}</h4>
          <p>{{ user.email }}</p>
        </div>
      </div>
</div>