<mat-card>
  <mat-card-content>

    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small,
      agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, dignissimos placeat doloremque ratione
      ipsa voluptatibus quaerat reiciendis a delectus odio inventore porro vel.
    </p>
    <p style="font-style: italic;">Mar 24 <span>(17hr ago)</span></p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>

    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small,
      agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, dignissimos placeat doloremque ratione
      ipsa voluptatibus quaerat reiciendis a delectus odio inventore porro vel.
    </p>
    <p style="font-style: italic;">Mar 24 <span>(17hr ago)</span></p>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>

    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small,
      agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, dignissimos placeat doloremque ratione
      ipsa voluptatibus quaerat reiciendis a delectus odio inventore porro vel.
    </p>
    <p style="font-style: italic;">Mar 24 <span>(17hr ago)</span></p>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>

    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small,
      agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, dignissimos placeat doloremque ratione
      ipsa voluptatibus quaerat reiciendis a delectus odio inventore porro vel.
    </p>
    <p style="font-style: italic;">Mar 24 <span>(17hr ago)</span></p>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>

    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small,
      agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, dignissimos placeat doloremque ratione
      ipsa voluptatibus quaerat reiciendis a delectus odio inventore porro vel.
    </p>
    <p style="font-style: italic;">Mar 24 <span>(17hr ago)</span></p>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>

    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small,
      agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, dignissimos placeat doloremque ratione
      ipsa voluptatibus quaerat reiciendis a delectus odio inventore porro vel.
    </p>
    <p style="font-style: italic;">Mar 24 <span>(17hr ago)</span></p>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>

    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small,
      agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, dignissimos placeat doloremque ratione
      ipsa voluptatibus quaerat reiciendis a delectus odio inventore porro vel.
    </p>
    <p style="font-style: italic;">Mar 24 <span>(17hr ago)</span></p>
  </mat-card-content>
</mat-card>
