<mat-card class="box">
    <h2>Password Reset</h2>
    <mat-card-content>
      <form [formGroup]="ForgetPasswordForm" (ngSubmit)="ForgetPassword()">
        <mat-label>
            Enter your email address and we'll send you an email with instructions to reset your password.
        </mat-label>
        <mat-form-field class="example-full-width">
          <input matInput type="email" placeholder="Email" name="email" formControlName="email">
        </mat-form-field>
        <mat-error *ngIf="controls['email'].errors?.['pattern'] && controls['email'].touched ">
            Enter Valid Email
        </mat-error>
        <button mat-raised-button color="primary"[disabled]="ForgetPasswordForm.invalid">Send</button>
        <mat-error *ngIf="submitted">
            Enter Valid Information
        </mat-error>
      </form>
    </mat-card-content>
    <div class="button-box">
    <button class="button1-box" mat-raised-button color="warn" (click)="signIn()">Sign In</button>
    <button class="button2-box" mat-raised-button color="warn" (click)="signUp()">Sign Up</button>
    </div>
</mat-card>