<div class="wrapper">
    <button class="btn btn-warning"  (click)="manageAllRows(true)">Expand All</button>
    <span>---</span>
    <button class="btn btn-warning" (click)="manageAllRows(false)">Collpase All</button>
  
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of usersData">
                <td>{{data.userId}}</td>
                <td>{{data.firstName}}</td>
                <td>{{data.phone}}</td>
                <td>{{data.email}}</td>

                <td>
                  <mat-icon type="button">edit</mat-icon>
                  <mat-icon type="button">delete</mat-icon>
              </td>
            </tr>
            </tbody>
      
  
      <ng-container matColumnDef="expandedDetail">
        <td class="td-tag" mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
          <div class="example-element-detail" [@detailExpand]="element.expanded ? 'expanded' : 'collapsed'">
            <table class="detail-table">
              <tr>
                <th>Blog Id</th>
                <th>Creation Date </th>
                <th>Title</th>
                <th>Tags</th>
                <th>Actions</th>
              </tr>
              <tr *ngFor="let blog of blogData">
                <td>{{blog.blog.blogId}}</td>
                <td>{{blog.blog.createdAt}}</td>
                <td>{{blog.blog.title}}</td>
                <td>{{blog.blog.tags}}</td>
                <td>
                    <mat-icon type="button">edit</mat-icon>
                    <mat-icon type="button">delete</mat-icon>      
                </td>
              </tr>
            </table>
          </div>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
        [class.example-expanded-row]="element.expanded" (click)="toggleRow(element)">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
  
  </div>