<h1>Users Blogs</h1>
<hr>
<div class="wrapper">
  <div class="table-container">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="table1">
        <tr  *ngFor="let data of usersData" (click)="toggleRow(data.userId)">
          <td>{{data?.userId}}</td>
          <td>{{data?.firstName+' '+data?.lastName|titlecase}}</td>
          <td>{{data?.phoneNo}}</td>
          <td>{{data?.email}}</td>
          <td>
            <mat-icon type="button" *ngIf="!data?.isBlocked" (click)="blockUser(data?.userId)">lock_open</mat-icon>
            <mat-icon type="button" *ngIf="data?.isBlocked" (click)="unBlockUser(data?.userId)">lock</mat-icon>

            <mat-icon type="button" (click)="deleteUser()">delete</mat-icon>

          </td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item ">
          <button class="page-link"   (click)="onPreviousClick()" [disabled]="((page-1)<=0)?true:false">Previous</button>
        </li>
        <li class="page-item"><a class="page-link" >{{page}}</a></li>
        <li class="page-item">
          <button class="page-link" (click)="onNextClick()" [disabled]="totalPages<=page">Next</button>
        </li>
      </ul>
    </nav>
  </div>
  <div class="table-container table-responsive">

    <h2 *ngIf="!toggleValue">
      Click on Users List To get Blogs
    </h2>




    <table class="table table-bordered table-striped table-hover table-sm border-success" *ngIf="toggleValue">
      <thead>
        <tr>
          <th>Blog Id</th>
          <th>Creation Date </th>
          <th>Title</th>
          <th>Tags</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let blog of blogData">
          <td>{{blog?.blog?.blogId}}</td>
          <td>{{blog?.blog?.createdAt}}</td>
          <td>{{blog?.blog?.title}}</td>
          <td>{{blog?.tags}}</td>
          <td>
            <mat-icon type="button" (click)="editBlog(blog?.blog?.blogId)">edit</mat-icon>
            <mat-icon type="button" *ngIf="blog?.blog?.isBlocked" (click)="unBlockBlog(blog?.blog?.blogId)">lock</mat-icon>
            
            <mat-icon type="button" *ngIf="!blog?.blog?.isBlocked" (click)="blockBlog(blog?.blog?.blogId)">lock_open</mat-icon>
            <mat-icon type="button" (click)="deleteBlog(blog?.blog?.blogId)">delete</mat-icon>
          </td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item disabled">
          <a class="page-link"  tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" >1</a></li>
        <li class="page-item"><a class="page-link" >2</a></li>
        <li class="page-item"><a class="page-link" >3</a></li>
        <li class="page-item">
          <a class="page-link" >Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
