<p>blog-management works!</p>
<div class="container">
    <div class="card m-5 p-3">
        <div class="card-body">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Creation Date</th>
                    <th>Title</th>
                    <th>Likes</th>
                    <th>Dislikes</th>
                    <th>Views</th>
                    <th>Tags</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td> data.blog.blogId </td>
                    <td> data.blog.createdAt| date </td>
                    <td> data.blog.title </td>
                    <td> data.blog.likes </td>
                    <td> data.blog.dislikes </td>
                    <td>data.blog.views</td>
                    <td> data.tags </td>
                    <td>
                      <mat-icon type="button">edit</mat-icon>
                      <mat-icon type="button">delete</mat-icon>
                  
              
                  
                  </td>
                </tr>
                </tbody>
            </table>
        </div>
  
    </div>
  </div>